<!DOCTYPE html>
<html>
<body>
    <p>
    <img src="~/img/adventuresserver3.jpg" /><br />
    <h5>Developed by: <i>Steve Sparks</i></h5>
    <p>
        Adventure Server is a learning project that I use to establish patterns and concepts of <br />
        various development and hosting ideas. This project combines a love for text adventures <br />
        and my need to have a project I can use to: <br />
        <dl>
            <dd>Improved development skills.</dd>
            <dd>Test out porting from various versions of .Net Core to .Net 5.</dd>
            <dd>Create build project on services like Bitbucket.org, GitHub, and Azure DevOps.</dd>
            <dd>Test out deployment pipelines using Docker containers to Azure Registries and DockerHub.</dd>
            <dd>Have a self-contained application that that can scale inside Kubernetes.</dd>
            <dd>It keeps me interested in the development and is just fun!</dd>
        </dl>

        <strong>Find the Source at: </strong>
    </p>
    
    <div>
    <p>
        <h4>Game Play using Web Client: </h4>
        - Allows User to play Adventure Server - Classic 2 word text adventures. <br />
        - Currently we have a single adventure called "Adventure House" <br />
        - You need find the items in the house and escape before you run our out of health.
        <br />
        <br />
        <dl>
            <dd>

            </dd>
        </dl>
        <a href="/playadventurehouse ">Open Adventure House Client</a>
        <br />
        <hr />
    </p>
    </div>
    <h3>Tell me about this project:</h3>
    <p>
        <dl>
            <dt><strong>.Net 5 WebApi and C# vesion 9 concepts</strong></dt>
            <dd>- Supports more than one player </dd>
            <dd>- Mintains state in the API using .Net 5 caching</dd>
            <dt><strong>Text Adventure Processing</strong></dt>
            <dd>- Text-based Green Screen interface for playing the game</dd>
            <dd>- Simple .JSON game structure that supports easy data driven games</dd>
            <dt><strong>Learning Experience</strong></dt>
            <dd>- Docker, Azure, AWS, Google Apps, WebServices, Swagger, OpenAPI, Web Servicew, Kubernetes</dd>
            <dd>- Yes! An applicaiton that can be hosted in variety of platforms</dd>
            <dd>- Lots of Fun!</dd>
            <dd>- Find me on GitHub</dd>
        </dl>
       
    <p>
        <strong>Acknoledgement: </strong>
        This game uses data that is the foundation of the powershell script <a href="https://blogs.technet.microsoft.com/josebda/2015/03/28/powershell-examples-adventure-house-game/"> Adventure House developed by Jose Barreto</a>.
    </p>
</body>
</html>

