<!DOCTYPE html>
<html>
<body>
    <h2><i>Adventure House</i></h2>
    <h5>Adapted and C# development by Steve Sparks</h5>
    <div>
        <p>
            Welcome to a simple classic 2 word text adventure. <br />
            You need find the items in the house and escape before you run our out of health.
        </p>
    </div>
    <br />
    <br />
    <h3>What is this?</h3>
    <p>
        <dl>
            <dt><strong>Simple Web API</strong></dt>
            <dd>- Process simple data set that defines a game</dd>
            <dd>- Supports more than one player and maintains state in the API</dd>
            <dd>- API that supports external clients to play the game</dd>
            <dd>- Support for future games through the same</dd>
            <dt><strong>Text Adventure Processing</strong></dt>
            <dd>- Green Screen interface for playing the game using a stylesheet</dd>
            <dd>- Simple format for future games to be created using class structure</dd>
            <dd>- Generic client that is flexiable enough to support other Adventures</dd>
            <dt><strong>Learning Experience</strong></dt>
            <dd>- Code base to use for leaarning .Net Core and C#</dd>
            <dd>- Applicaiton that can be hosted in variety of platforms</dd>
            <dd>- Lots of Fun!</dd>

        </dl>
        <br />
        <br />
        <a href="/playadventure ">Open Adventure House</a>
        <br />
        <br />
        <hr />
    <p>
        <strong>Acknoledgement: </strong>
        This game uses data that is the foundation of the powershell script <a href="https://blogs.technet.microsoft.com/josebda/2015/03/28/powershell-examples-adventure-house-game/"> Adventure House developed by Jose Barreto</a>.
    </p>
</body>
</html>

