<!DOCTYPE html>
@{
    Layout = "_PALayout.cshtml";
}
<body>
    <hr />
    <h4>Adventure House!</h4>
    <h6><strong>Version 2.0</strong></h6>
    <br />
    <img src="~/img/AdventureHouse2.jpg" /><br />
    <br />
    <p>Find your way out of the house before you die!</p>
    <br />
    <form action="/playadventure" method="Post"> <button>Play Adventure</button> </form>
    <br />

</body>