<!DOCTYPE html>
@{
    Layout = "_PALayout.cshtml";
}
<body>
    <hr />
    <h4><i>Ultra New</i> and <i>Improved Server Version!</i> :</h4>
    <h3><strong>  - Adventure Server Featuring: Adventure House - </strong></h3>
    <hr />
    <p>This version of the adventure has been recoded to actually comply with .net coding practices. This has been </p>
    <img src="~/img/floor-clipart-two-story-house.png" />
    <br />
    <br />
    <form action="/playadventure" method="Post"> <button>Play Adventure</button> </form>
    <br />

</body>