<!DOCTYPE html>
@{
    Layout = "_PALayout.cshtml";
}
<body>
    <hr />
    <h4><i>New</i> and <i>Improved</i> :</h4>
    <h3><strong>  - Adventure House - </strong></h3>
    <hr />
    <img src="~/img/floor-clipart-two-story-house.png" />
    <br />
    <br />
    <form action="/playadventure" method="Post"> <button>Play Adventure</button> </form>
    <br />

</body>